* {
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: transparent;
}
body {
  background: linear-gradient(to right, #00b3ee, #00fc71);
  padding: 5px;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  background-color: #bff4ee;
}
.result {
  background-color: black;
  height: 130px;
  max-width: 400px;
  width: 100%;
  border: 2px solid white;
  color: white;
  padding: 8px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn-container {
  width: 100%;
  display: flex;
}
.btn {
  max-width: 100px;
  width: 25%;
  height: 100px;
}

.equal-btn,
.reset-btn {
  max-width: 200;
  width: 50%;
  height: 100px;
}

.btn,
.equal-btn,
.reset-btn {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid white;
}
